/*Importing Google Fonts To the CSS File and You Can Use Google by using Link also*/
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Playwrite+NL+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Redressed&family=Sacramento&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html body{
    font-family: "poppins", sans-serif;
    background-image: url(../Images/roses1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/*This is to hide the side scroll bar its your wish based on your requirement*/
body::-webkit-scrollbar{
    display: none;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    };
    to{
        opacity: 1;
    }
}

@keyframes fadeOut{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

/*CSS for page1*/
.page1{
    animation: fadein 3s forwards;
    margin: 0%;
    transition: opacity 2s ease-out;
    width: 100%;
    height: 90vh;
    padding-top: 30vh;
    text-align: center;
}

/*Initially page will be fully visible*/
#page01{
    opacity:1;
    transition: opacity 2s ease-out;
}

/*Class To trigger the fade-out-effect*/
.fade-out{
    animation:fadeOut 2s forwards;

}

.page1 h1{
    font-family: "Alex Brush", cursive;
    font-size: 45px;
    background: none;
    animation: fadeIn 2s ease-in-out;
    color:white;
    font-weight: bold;
}
.page1 p{
    font-weight: bold;
    color: white;
    animation: fadeIn 3s ease-in-out;
}
.playbtn{
    width: 100px;
    height: 40px;
    background-color: white;
    color: gray;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    justify-content: center;
    margin: 2%;
    animation: fadeIn 2s ease-in-out;
}

/*Page2 */
.page2{
    display: none;
    width: 80%;
    height: auto;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 20px;
    animation: fadeIn 3s ease-in-out;
    margin-top: 10vh;
    background-color: rgba(0,0,0,0.2);
    text-align: left;
    padding: 5%;
    margin: auto;
    overflow: auto;
}
.pg2-cont h1{
    font-size: 22px;
    color: white;
}
.page2 .pg2-cont p{
    font-weight: bold;
    margin-top: 10px;
    color:darkgrey;

}
.pg2-final{
    display: flex;
    justify-content: center;
    font-family: "Alex Brush," cursive;
    margin-top: 5%;
}
.pg2-final h1{
    font-size: 28px;
    color: white;
    font-family: "Alex Brush",cursive;
}
.fin-btns p{
    color: white;
}
.responsebtn{
    width: 100px;
    height: 40px;
    background-color: white;
    color: gray;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    margin: 3%;
}

.playbtn:hover, .responsebtn:hover{
    background-color: transparent;
    font-weight: bold;
    border:2px solid white;
    color: white;

}
.fin-btns{
    justify-content: center;
    font-weight: bold;
    text-align: center;
    margin-top:10% ;
}

canvas{
    display: flex;
}

/*page3*/
.page3 {
    position: relative; /* Establishes positioning context for .text */
    display: none;
    justify-content: center;
    animation: fadeIn 2s ease-in-out; /* Adjust dynamically using JavaScript or remove for debugging */
}

.page3 .text {
    position: absolute;
    font-size: 12px;
    padding: 2%;
    margin:auto;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
    text-align: left;
    border: none;
    backdrop-filter: blur(2px);
    box-sizing: border-box;
    width: 60%;
    height: auto;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 0px;
    margin-top: 30vh;
}


.text h1{
    font-size: 22pxpx;
    color:gray;
    font-family: "arial", cursive;
}
.text p{
    font-size: 18px;
    font-weight: bold;
    color:gray;
}

.text img{
    width:200px;
    height: 100%;
    margin: auto;
    margin-top: 5%;
    margin-left: 70%;
    animation: fadeIn 3s ease-in-out;
}

@media(max-width:768px){
    .page1{
        margin-top: 0%;
        padding-top: 50%;
    }
    .page1 h1{
        font-size: 22px;
    }
    .page1 p{
        font-size: 14px;
    }
    .playbtn{
        width: 30%;
        height: auto;
        margin-top: 5%;
    }
    
    .page2{
        width: 100%;
        height: auto;
        padding: 5%;
        overflow: visible;
    }
    .page2 h1{
        font-size: 18px;
    }
    .page2 p{
        font-size: 16px;
    }
    .responsebtn{
        width: 30%;
        height: 30px;
    }
    .page3 .text{
        width: 80%;
        height: auto;
    }
    .text h1{
        font-size: 14px;
    }
    .text p{
        font-size: 12px;
    }
    .text img{
        margin: auto;
    }
}
/*CSS completed*/